<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- parameterType이나 resultType에 com.study.domain은 생략한 채로 표현하는 것 가능 -->
	<typeAliases>
		<package name="com.study.domain"/>
	</typeAliases>
	
</configuration>